Invalid Content-Disposition with FileName* containing parenthesis

We're using form-data to upload files to a backend running .NET 8. The problem is that any file name containing a parenthesis gets rejected with the message: "Failed to read the request form. Form section has invalid Content-Disposition value".

From my understanding, the Content-Disposition header contains a FileName* parameter that must be encoded according to:
[RFC 5987, section 3.2](https://datatracker.ietf.org/doc/html/rfc5987#section-3.2)

The attr-char set in RFC 5987, Section 3.2 defines the following characters:
```
attr-char          = ALPHA / DIGIT
                   / "!" / "#" / "$" / "&" / "+" / "-" / "."
                   / "^" / "_" / "`" / "|" / "~"
                   ; token except ( "*" / "'" / "%" )
```

According to GPT those are the ASCII characters allowed in parameter values without encoding.

Is it correct to assume that "(" and ")" should be percentage encoded and that it's a bug in your library?

It could of course be that .NET are unnecessarily strict in their validation, but I figured I'd start here by submitting an issue.

To my reading, `attr-char` _includes_ parens (because they're a token that's not asterisk, apostrophe, or percent), which means parens are not required to be encoded (`value-chars   = *( pct-encoded / attr-char )`).

Thanks for the reply.

I don't think parenthesis are tokens, they're separators.

The definition in [RFC5987, Section 3.2.1](https://datatracker.ietf.org/doc/html/rfc5987#section-3.2.1) states: 

> token = <token, defined in [[RFC2616], Section 2.2](https://datatracker.ietf.org/doc/html/rfc2616#section-2.2)>


In RFC2616 you find this token definition:
```
token          = 1*<any CHAR except CTLs or separators>
separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
``` 




ah, thanks for clarifying. that suggests that we should indeed be quoting them, and this code snippet:
```js
const fd = new FormData();
fd.append('a()', 2);
new URLSearchParams(fd).toString() // "a%28b%29=2"
```
in a browser seems to confirm it.